.main-table {
	width: calc(100% - 60px);
    margin: 0 auto;
	header {
		background-color: #282c34;
		position: sticky;
    	position: -web-kit-sticky;
    	top: 68px;
		z-index: 9;
		border-bottom: 2px solid #eee;
	}
	.row {
		border-bottom: 1px #eee dotted;
		p {
			font-size: 18px;
		}
		.confirmed, .recovered, .deaths {
			width: 22%;
		}
		.details {
			width: 5%;
			font-style: italic;
			cursor: pointer;
		}
		.close-chart {
			font-style: italic;
			cursor: pointer;
			margin-bottom: 10px;
		}
	}
  	div {
		clear: both;
	}
	h3 {
		float: left;
		width: 25%;
	}
	h3.stats {
		width: 22%;
	}
  	p {
    	float: left;
    	width: 25%;
  	}
}
.top-meta {
	text-align: center;
	.item {
	  width: 33.33%;
	  display: inline-block;
	  padding: 30px 0;
	  background-color: #475875;
	}
}